body{
  background-color: rgb(158, 158, 158);
  height: 2000px;
}
form{
  margin-top: 3%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
button{
    color: white;
    border: 2px solid #979793;
    background-color: rgb(113, 185, 31);
    border-radius: 5% ;
    font-weight: bold;
    width:180px;
  height: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-shadow: inset 0 0 0 0 rgb(177, 174, 174);
transition: ease-out 0.4s;
outline: none;
cursor: pointer;
position: absolute;
top: 9%;
left:80%;
-webkit-appearance: none;
font-size: 1.5em;
}
button:hover{
    box-shadow: inset 300px 0 0 0 rgb(253, 250, 250);
  color:  rgb(113, 185, 31);
  }
  input[type="search"] {
    border-radius: 10px;
    width: 100%;
    height: 80px;
    border: 2px solid green;
    transition: all 2S;
    font-size: 1.8em ;
  }
  input[type="search"]:focus {
    outline:solid rgb(226, 248, 174) 2000px;
  }
   



button img{
  padding-right:5%;
  width: 10%;
}
input[type="search"]:hover img{
 
  height: 90px;
}

