body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   margin-left: 4%;
    background-color: rgb(224, 218, 218);
}
div{
    display: flex;
    flex-direction: row;
    width: 100%;
padding-top: 5%;
border: 2px solid black;
}
div::before{
    content: "Avatar";
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 2rem;
}
div::after{
    content: "____________________________________________________________________________________________________________";
    position: absolute;
    color: rgb(184, 178, 178);
    font-weight: bold;
    top: 5%;
    left: 19%;
    font-size: 1rem;
}


.RoundPetit{
    margin-left: 2%;
    margin-top: 3%;
    border-radius: 180%;
   width:100px;
   height: 80px;
    
   }

.RountGrand{
    border-radius: 180%;
    margin-left: 2%;
   widows: 180px;
   height:120px;
}

.RoundBorder{
    margin-top: 3%;
    margin-left: 2%;
    border: 2px solid white;
    border-radius: 180%;
    width:80px;
    height: 90px;
}


.carré{
    margin-top: 3%;
    margin-left: 2%;
    border: 2px solid white;
    width:80px;
    height: 90px;
}
